body{margin: 0;}
img{max-width: 100%;display: block;margin: 0 auto;}
canvas{border: 1px solid #ccc;background: white;border-radius: 5px;}

/*Oyun*/
.hide{display: none;}

.section{background: url(http://mobworkz.info/assets/bg.png);background-size: cover;padding: 5%;box-sizing:border-box;}
.anchor_button img{width: 35px;margin-bottom: -30px;}

a.button{display: inline-block;border-radius: 5px;background:url(http://mobworkz.info/assets/button.png);padding: 10px;background-size: cover;text-decoration: blink;color: white;font-family: "samsung_sanslight"}
a.button.success{background-image: none;background-color: green}
a.button.error{background-image: none;background-color: red}

.result_holder{padding: 10px 20px 0px 20px;box-sizing:border-box;}

span.drawing_title{position: absolute;top: 5%;left: 8%;font-family: "samsung_sansregular"}
a.drawing_btn{float:right;padding: 10px 20px;}

.fb-btn{background: url(http://mobworkz.info/assets/fb.png); background-size: cover;width: 130px;height: 29px;border-radius: 5px;margin-top: 10px;border:none;    display: block;
    margin: 0 auto;position:relative;z-index:300 }

.align-center{text-align: center;}
#questionPicture{background-color: white;}

textarea{width: 100%;height: 150px;margin-bottom: 10px;resize: none;border-radius: 5px;padding: 10px;font-family: "samsung_sansregular";outline: none;}

/*Scoreboard*/

.header{background: white;width: 100%;padding: 4%;box-sizing:border-box;text-align:right;}
.header a{text-decoration: none;color:#c29746;font-family: "samsung_sansregular"}
.header a i{margin-left: 5px}

.title{background: white;width: 100%;padding: 4%;box-sizing:border-box;text-align:center;}
.title span{color:#c29746;font-family: "samsung_sansregular";font-size: 20px;}

table{width: 100%; border-spacing:0px;font-family: "samsung_sansregular";    font-size: 15px;border-collapse: collapse;}
table i{margin-left:5px;}

tr:nth-child(even) {background: #c1b29a}
tr:nth-child(odd) {background: #e5d3b8}


table td{padding: 5px 0px}
table td.img div{border-radius: 50%;overflow: hidden;    margin-right: 10px;}
table td.img img{margin: 0; width: 100%;}
table td.score{text-align: right;padding-right: 10px;    font-size: 18px;}
table td.order{padding-left: 10px;}
